.metadata/.plugins/org.eclipse.core.resources/.history/cf/b0b40700edfb001e1472aa7c19d25651
.metadata/.plugins/org.eclipse.core.resources/.history/d2/30a159dce8fb001e1472aa7c19d25651
.metadata/.plugins/org.eclipse.core.resources/.history/d2/c04a5c1deefb001e1472aa7c19d25651
.metadata/.plugins/org.eclipse.core.resources/.history/da/20b3188bddfb001e1472aa7c19d25651
.metadata/.plugins/org.eclipse.core.resources/.history/e0/b0e0db0ed9fb001e1472aa7c19d25651
.metadata/.plugins/org.eclipse.core.resources/.history/e2/10ac38f8dafb001e1472aa7c19d25651
.metadata/.plugins/org.eclipse.core.resources/.history/e3/4010ececdafb001e1472aa7c19d25651
.metadata/.plugins/org.eclipse.core.resources/.history/ea/30cdf43fbefb001e1472aa7c19d25651
.metadata/.plugins/org.eclipse.core.resources/.history/ec/90c0b772edfb001e1472aa7c19d25651
.metadata/.plugins/org.eclipse.core.resources/.history/ed/b0a61abae7fb001e1472aa7c19d25651
.metadata/.plugins/org.eclipse.core.resources/.history/f0/f09fb014ebfb001e1472aa7c19d25651
.metadata/.plugins/org.eclipse.core.resources/.history/fb/c0aeb9dddafb001e1472aa7c19d25651
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/GuessTheNumber/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/GuessTheNumber/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/GuessTheNumber/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/GuessTheNumber/.indexes/e4/2b/f5/fd/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/NumberTranslator/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/NumberTranslator/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/NumberTranslator/.indexes/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/NumberTranslator/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/NumberTranslator/.indexes/e4/2b/f5/23/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/W1_D1/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/W1_D1/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/W1_D1/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/W1_D1/.indexes/e4/2b/f5/b0/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/W1_D1/.indexes/e4/2b/f5/b0/df/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/W1_D2/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/W1_D2/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/W1_D2/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/W1_D2/.indexes/e4/2b/f5/29/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/W1_D2_Ex/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/W1_D2_Ex/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/W1_D2_Ex/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/W1_D2_Ex/.indexes/e4/2b/f5/68/history.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/Docker.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.apt.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springframework.ide.eclipse.imports.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.ui.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/Ex_1.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Ex_2.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Ex1.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Ex2_4.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Program (1).launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Program (2).launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Program.launch
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
.metadata/.plugins/org.eclipse.jdt.core/2157952529.index
.metadata/.plugins/org.eclipse.jdt.core/2599086355.index
.metadata/.plugins/org.eclipse.jdt.core/2636230071.index
.metadata/.plugins/org.eclipse.jdt.core/2852193926.index
.metadata/.plugins/org.eclipse.jdt.core/856184636.index
.metadata/.plugins/org.eclipse.jdt.core/881327138.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/5.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/6.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/7.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/8.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/9.png
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/NumberTranslator/2024/4/16/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/NumberTranslator/2024/4/16/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/W1_D1/2024/4/16/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/W1_D1/2024/4/16/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/W1_D2_Ex/2024/4/16/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/W1_D2_Ex/2024/4/16/refactorings.index
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.logback/0.log
.metadata/.plugins/org.eclipse.m2e.logback/logback.2.1.100.20230106-1511.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/
